<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 2: Data Import and Cleaning

## Notebook Summary

This notebook imports three datasets from our original ten csv files and then cleans the data to prepare for analysis and visualization. Included in this notebook, the reader will find:

* Data cleaning methods for all three datasets
* Updated data dictionaries for all three datasets

---

### Contents:
- [Data Import and Cleaning](#Data-Import-and-Cleaning)
- [Data Dictionary](#Data-Dictionary)
- [Notebook Conclusion](#Notebook-Conclusion)

---

## Data Import and Cleaning

### Data Import

First, I will import the necessary Python libraries and data files to read into pandas dataframes.

In [1]:
# Imports:

import pandas as pd
import numpy as np

In [2]:
# Read in data files

sat_2019 = pd.read_csv('../data/sat_2019.csv')
sat_by_major = pd.read_csv('../data/sat_2019_by_intended_college_major.csv')
sat_by_college = pd.read_csv('../data/sat_act_by_college.csv')

Next, I will be following some specific technical steps to clean the data and make it usable for exploratory data analysis and the creation of data visualizations. These steps were provided by General Assembly (GA). I will be going through the requisite steps for each dataset one at a time, so the reader will see that I have marked each dataset's cleaning with a heading. However, all three datasets follow the same cleaning process. Any additional cleaning beyond these steps provided by GA I have made note of.

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

---

### 2019 SAT Scores by State Data Cleaning

In [3]:
print(sat_2019.shape)

sat_2019.head()

(53, 5)

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

Since this dataset represents SAT scores in each of the states, I thought it was suspect that the data contained 53 observations instead of 50 or 51 (including the District of Columbia). I decided to run a count of all the entries.

In [4]:
sat_2019.value_counts()

State                 Participation Rate  EBRW  Math  Total
Alabama               7%                  583   560   1143     1
Nebraska              3%                  628   631   1260     1
New Hampshire         95%                 533   526   1059     1
New Jersey            82%                 544   545   1090     1
New Mexico            18%                 543   530   1073     1
New York              79%                 531   533   1064     1
North Carolina        51%                 554   546   1100     1
North Dakota          2%                  627   636   1263     1
Ohio                  19%                 550   548   1097     1
Oklahoma              22%                 490   472   963      1
Oregon                51%                 562   550   1112     1
Pennsylvania          70%                 545   537   1082     1
Puerto Rico           —                   483   462   944      1
Rhode Island          100%                503   492   995      1
South Carolina        68%                 526   504   1030     1
South Dakota          3%                  633   635   1268     1
Tennessee             7%                  618   602   1220     1
Texas                 68%                 515   507   1022     1
Utah                  4%                  614   615   1230     1
Vermont               66%                 560   546   1106     1
Virgin Islands        —                   490   445   935      1
Virginia              68%                 567   551   1119     1
Washington            70%                 539   535   1074     1
West Virginia         99%                 483   460   943      1
Wisconsin             3%                  635   648   1283     1
Nevada                20%                 580   576   1156     1
Montana               9%                  603   596   1199     1
Alaska                41%                 556   541   1097     1
Missouri              4%                  622   615   1236     1
Arizona               31%                 569   565   1134     1
Arkansas              6%                  582   559   1141     1
California            63%                 534   531   1065     1
Colorado              100%                518   506   1024     1
Connecticut           100%                529   516   1046     1
Delaware              100%                499   486   985      1
District of Columbia  94%                 495   480   975      1
Florida               100%                516   483   999      1
Georgia               71%                 538   519   1058     1
Hawaii                54%                 550   550   1100     1
Idaho                 100%                505   488   993      1
Illinois              100%                509   504   1013     1
Indiana               66%                 543   537   1080     1
Iowa                  3%                  622   622   1244     1
Kansas                4%                  618   623   1241     1
Kentucky              4%                  620   612   1232     1
Louisiana             5%                  610   591   1200     1
Maine                 99%                 512   502   1013     1
Maryland              82%                 535   523   1058     1
Massachusetts         81%                 559   561   1120     1
Michigan              100%                507   496   1003     1
Minnesota             4%                  636   648   1284     1
Mississippi           3%                  628   608   1237     1
Wyoming               3%                  623   615   1238     1
dtype: int64

I noticed that there are two observations with missing participation rates and both happen to be U.S. territories, Puerto Rico and the Virgin Islands. I have decided to mark these observations as null values and then drop all null values.

In [5]:
sat_2019['Participation Rate'] = sat_2019['Participation Rate']\
.map(lambda rate: np.nan if rate == '—' else rate)

sat_2019.dropna(inplace = True)

sat_2019.shape

(51, 5)

In [6]:
sat_2019.isnull().sum()

State                 0
Participation Rate    0
EBRW                  0
Math                  0
Total                 0
dtype: int64

In [7]:
sat_2019.dtypes

State                 object
Participation Rate    object
EBRW                   int64
Math                   int64
Total                  int64
dtype: object

In [8]:
sat_2019['Participation Rate'] = sat_2019['Participation Rate']\
.map(lambda rate: float(rate.replace('%', ' ')) * 0.01)

sat_2019.head()

        State  Participation Rate  EBRW  Math  Total
0     Alabama                0.07   583   560   1143
1      Alaska                0.41   556   541   1097
2     Arizona                0.31   569   565   1134
3    Arkansas                0.06   582   559   1141
4  California                0.63   534   531   1065

In [9]:
sat_2019.dtypes

State                  object
Participation Rate    float64
EBRW                    int64
Math                    int64
Total                   int64
dtype: object

In [10]:
sat_2019_cols_dict = {
    'State': 'state',
    'Participation Rate': 'participation_rate',
    'EBRW': 'reading_writing_score',
    'Math': 'math_score',
    'Total': 'total_score'
}

sat_2019.rename(columns = sat_2019_cols_dict, inplace = True)

sat_2019.head()

,state,participation_rate,reading_writing_score,math_score,total_score
0,Alabama,0.07,583,560,1143
1,Alaska,0.41,556,541,1097
2,Arizona,0.31,569,565,1134
3,Arkansas,0.06,582,559,1141
4,California,0.63,534,531,1065

---

### 2019 SAT Scores by Intended College Major Data Cleaning

In [11]:
print(sat_by_major.shape)

sat_by_major.head()

(38, 6)

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...","24,913",1%,977,496,481
1,Architecture and Related Services,"28,988",2%,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies","2,629",0%,1040,536,504
3,Biological and Biomedical Sciences,"155,834",8%,1139,572,566
4,"Business, Management, Marketing, and Related S...","221,523",12%,1072,534,537

In [12]:
sat_by_major.isnull().sum()

IntendedCollegeMajor    0
TestTakers              0
Percent                 0
Total                   0
ReadingWriting          0
Math                    0
dtype: int64

In [13]:
sat_by_major.dtypes

IntendedCollegeMajor    object
TestTakers              object
Percent                 object
Total                    int64
ReadingWriting           int64
Math                     int64
dtype: object

In [14]:
sat_by_major['Percent'] = sat_by_major['Percent']\
.map(lambda percent: float(percent.replace('%', ' ')) * 0.01)

sat_by_major.head()

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...","24,913",0.01,977,496,481
1,Architecture and Related Services,"28,988",0.02,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies","2,629",0.00,1040,536,504
3,Biological and Biomedical Sciences,"155,834",0.08,1139,572,566
4,"Business, Management, Marketing, and Related S...","221,523",0.12,1072,534,537

In [15]:
sat_by_major['TestTakers'] = sat_by_major['TestTakers']\
.map(lambda number: int(number.replace(',', '')))

sat_by_major.head()

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...",24913,0.01,977,496,481
1,Architecture and Related Services,28988,0.02,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies",2629,0.00,1040,536,504
3,Biological and Biomedical Sciences,155834,0.08,1139,572,566
4,"Business, Management, Marketing, and Related S...",221523,0.12,1072,534,537

In [16]:
sat_by_major.dtypes

IntendedCollegeMajor     object
TestTakers                int64
Percent                 float64
Total                     int64
ReadingWriting            int64
Math                      int64
dtype: object

In [17]:
sat_by_major_cols_dict = {
    'IntendedCollegeMajor': 'intended_college_major',
    'TestTakers': 'number_of_testers',
    'Percent': 'percent_by_intended_major',
    'Total': 'total_score',
    'ReadingWriting': 'reading_writing_score',
    'Math': 'math_score'
}

sat_by_major.rename(columns = sat_by_major_cols_dict, inplace = True)

sat_by_major.head()

,intended_college_major,number_of_testers,percent_by_intended_major,total_score,reading_writing_score,math_score
0,"Agriculture, AgricultureOperations, and Relate...",24913,0.01,977,496,481
1,Architecture and Related Services,28988,0.02,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies",2629,0.00,1040,536,504
3,Biological and Biomedical Sciences,155834,0.08,1139,572,566
4,"Business, Management, Marketing, and Related S...",221523,0.12,1072,534,537

---

### Ranges of Accepted ACT & SAT Student Scores by Colleges Data Cleaning

In [18]:
print(sat_by_college.shape)

sat_by_college.head()

(416, 8)

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35

In [19]:
sat_by_major.dtypes

intended_college_major        object
number_of_testers              int64
percent_by_intended_major    float64
total_score                    int64
reading_writing_score          int64
math_score                     int64
dtype: object

In [20]:
sat_by_college.isnull().sum()

School                             0
Test Optional?                     0
Applies to Class Year(s)          26
Policy Details                     0
Number of Applicants               0
Accept Rate                        0
SAT Total 25th-75th Percentile     0
ACT Total 25th-75th Percentile     0
dtype: int64

In [21]:
sat_by_college.dtypes

School                            object
Test Optional?                    object
Applies to Class Year(s)          object
Policy Details                    object
Number of Applicants               int64
Accept Rate                       object
SAT Total 25th-75th Percentile    object
ACT Total 25th-75th Percentile    object
dtype: object

In [22]:
sat_by_college['Applies to Class Year(s)'].value_counts(dropna = False)

2021                        196
All / Permanent Policy      158
NaN                          26
2021 2022 2023               15
2021 2022                    11
2021 2022 2023 2024           9
2021 2022 2023 2024 2025      1
Name: Applies to Class Year(s), dtype: int64

In [23]:
sat_by_college.dropna(inplace = True)

sat_by_college.shape

(390, 8)

In [24]:
sat_by_college.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35

In [25]:
sat_by_college['Accept Rate'] = sat_by_college['Accept Rate']\
.map(lambda percent: float(percent.replace('%', ' ')) * 0.01)

sat_by_college.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35

In [26]:
sat_by_college.dtypes

School                             object
Test Optional?                     object
Applies to Class Year(s)           object
Policy Details                     object
Number of Applicants                int64
Accept Rate                       float64
SAT Total 25th-75th Percentile     object
ACT Total 25th-75th Percentile     object
dtype: object

For the purposes of my latter exploratory data analysis, I wanted to take the column of data "SAT Total 25th-75th Percentile" and split the ranges into separate columns of the 25th percentile and the 75th percentile, then convert them into numbers for comparison.

Upon my first attempt, I ran into some errors in converting the data from text to numbers since some of the values had the unique character '\u200b\u200\b' and some values were missing. I chose to run the unique method to see which data contained these characters and then strip them before converting any missing values to nulls.

In [27]:
sat_by_college['SAT Total 25th-75th Percentile'].unique()

array(['1440-1570', '1460-1580', '1450-1560', '1460-1570',
       '\u200b\u200b 1530-1560', '\u200b\u200b 1500-1570',
       '\u200b\u200b 1440-1570', '\u200b\u200b 1490-1570', '1390-1540',
       '1440-1560', '1330-1520', '1450-1570', '1380-1540', '1440-1550',
       '1460-1560', '1360-1510', '1470-1560', '1400-1560', '1410-1550',
       '1340-1520', '1270-1480', '1290-1510', '1360-1520', '1350-1530',
       '1350-1510', '1340-1490', '1300-1480', '1490-1570', '1370-1530',
       '1300-1530', '1470-1570', '1360-1530', '1400-1550', '1283-1510',
       '1370-1510', '1320-1510', '1370-1520', '1310-1485', '1350-1520',
       '1360-1540', '1300-1510', '1348-1490', '1330-1500', '1300-1490',
       '1340-1530', '1180-1440', '1340-1500', '1270-1450', '1280-1420',
       '1370-1490', '1320-1470', '1290-1460', '1250-1420', '1290-1450',
       '1300-1500', '1260-1460', '1320-1490', '1220-1400', '1250-1470',
       '1250-1460', '1280-1500', '1250-1440', '1220-1380', '1240-1470',
       '1333-1490', '1280-1450', '1300-1460', '1210-1380', '1110-1320',
       '1270-1460', '1260-1430', '1255-1430', '1200-1390', '1220-1420',
       '1040-1310', '1280-1480', '1090-1260', '1310-1450', '1270-1490',
       '1030-1213', '1100-1320', '1180-1410', '890-1080', '1040-1250',
       '1325-1520', '1310-1440', '1240-1410', '1280-1470', '1150-1410',
       '1330-1480', '1160-1350', '1130-1330', '1080-1230', '1230-1410',
       '1230-1440', '1220-1430', '1250-1390', '1200-1380', '1150-1360',
       '1270-1420', '1250-1430', '1150-1350', '1210-1350', '1190-1430',
       '1040-1270', '1200-1350', '1210-1420', '1280-1440', '1140-1320',
       '1160-1370', '1210-1360', '1160-1360', '1310-1470', '1180-1370',
       '1020-1205', '1230-1400', '1110-1290', '1200-1360', '1240-1440',
       '1030-1200', '1330-1450', '1190-1370', '990-1160', '1090-1250',
       '1050-1200', '1150-1380', '1040-1260', '1030-1250', '1240-1450',
       '1240-1420', '1260-1440', '1130-1340', '1260-1480', '1203-1360',
       '1040-1230', '1230-1390', '990-1190', '1160-1390', '1210-1450',
       '1110-1310', '1080-1270', '950-1130', '1160-1340', '1070-1270',
       '1170-1350', '1050-1250', '1220-1480', '1080-1260', '910-1130',
       '1060-1320', '1090-1270', '1190-1440', '1120-1320', '1190-1410',
       '1190-1400', '1140-1400', '1080-1368', '1120-1310', '1160-1330',
       '1100-1345', '1170-1360', '1210-1358', '1080-1380', '1200-1430',
       '1142.5-1380', '1110-1370', '1050-1310', '1020-1190', '1100-1370',
       '1070-1280', '1180-1350', '1190-1380', '1190-1390', '1130-1360',
       '1045-1225', '1070-1260', '1248-1420', '1010-1210', '1180-1390',
       '1140-1310', '1120-1290', '1080-1358', '1170-1320', '1200-1400',
       '1150-1340', '1078-1300', '1020-1240', '1180-1360', '940-1150',
       '990-1210', '1080-1310', '1070-1290', '1090-1350', '1160-1338',
       '910-1090', '990-1200', '1060-1295', '1000-1210', '--',
       '1040-1265', '1150-1310', '990-1170', '1070-1300', '1070-1250',
       '1050-1269', '1110-1280', '980-1180', '1180-1340', '1153-1390',
       '1012-1345', '990-1180', '1110-1300', '1130-1300', '1030-1260',
       '990-1230', '1010-1230', '1150-1330', '1060-1250', '1108-1273',
       '970-1190', '1038-1250', '1170-1370', '1100-1250', '1050-1260',
       '960-1170', '1060-1220', '1130-1380', '1030-1220', '1100-1270',
       '1120-1300', '1060-1365', '1010-1240', '1090-1290', '1140-1340',
       '1120-1360', '1140-1350', '1160-1320', '1240-1460', '1030-1190',
       '1060-1260', '1143-1320', '1210-1410', '1040-1290', '1130-1310',
       '1150-1320', '960-1180', '1070-1240', '1010-1250', '1010-1180',
       '1050-1240', '1100-1310', '1020-1220', '940-1140', '1000-1160',
       '1080-1320', '1150-1370', '1180-1380', '1060-1290', '1120-1350',
       '1100-1290', '1220-1440', '1030-1230', '1090-1280', '1008-1240',
       '1040-1240', '1000-1398', '980-1190', '1100-1340', '1090-1300',
       '1060-1270', '1080-1300', '1000-1240', '990-1220'], dtype=object)

There are at least four unique values which contain the nonsense string of characters mentioned above and one unique value of "-- ", indicating some missing values. Below you will see that I stripped the nonsense characters, converted the missing values to nulls, and then dropped the nulls.

In [28]:
sat_by_college['SAT Total 25th-75th Percentile'] = sat_by_college['SAT Total 25th-75th Percentile']\
.map(lambda score: score.strip('\u200b\u200b '))

sat_by_college['SAT Total 25th-75th Percentile'].unique()

array(['1440-1570', '1460-1580', '1450-1560', '1460-1570', '1530-1560',
       '1500-1570', '1490-1570', '1390-1540', '1440-1560', '1330-1520',
       '1450-1570', '1380-1540', '1440-1550', '1460-1560', '1360-1510',
       '1470-1560', '1400-1560', '1410-1550', '1340-1520', '1270-1480',
       '1290-1510', '1360-1520', '1350-1530', '1350-1510', '1340-1490',
       '1300-1480', '1370-1530', '1300-1530', '1470-1570', '1360-1530',
       '1400-1550', '1283-1510', '1370-1510', '1320-1510', '1370-1520',
       '1310-1485', '1350-1520', '1360-1540', '1300-1510', '1348-1490',
       '1330-1500', '1300-1490', '1340-1530', '1180-1440', '1340-1500',
       '1270-1450', '1280-1420', '1370-1490', '1320-1470', '1290-1460',
       '1250-1420', '1290-1450', '1300-1500', '1260-1460', '1320-1490',
       '1220-1400', '1250-1470', '1250-1460', '1280-1500', '1250-1440',
       '1220-1380', '1240-1470', '1333-1490', '1280-1450', '1300-1460',
       '1210-1380', '1110-1320', '1270-1460', '1260-1430', '1255-1430',
       '1200-1390', '1220-1420', '1040-1310', '1280-1480', '1090-1260',
       '1310-1450', '1270-1490', '1030-1213', '1100-1320', '1180-1410',
       '890-1080', '1040-1250', '1325-1520', '1310-1440', '1240-1410',
       '1280-1470', '1150-1410', '1330-1480', '1160-1350', '1130-1330',
       '1080-1230', '1230-1410', '1230-1440', '1220-1430', '1250-1390',
       '1200-1380', '1150-1360', '1270-1420', '1250-1430', '1150-1350',
       '1210-1350', '1190-1430', '1040-1270', '1200-1350', '1210-1420',
       '1280-1440', '1140-1320', '1160-1370', '1210-1360', '1160-1360',
       '1310-1470', '1180-1370', '1020-1205', '1230-1400', '1110-1290',
       '1200-1360', '1240-1440', '1030-1200', '1330-1450', '1190-1370',
       '990-1160', '1090-1250', '1050-1200', '1150-1380', '1040-1260',
       '1030-1250', '1240-1450', '1240-1420', '1260-1440', '1130-1340',
       '1260-1480', '1203-1360', '1040-1230', '1230-1390', '990-1190',
       '1160-1390', '1210-1450', '1110-1310', '1080-1270', '950-1130',
       '1160-1340', '1070-1270', '1170-1350', '1050-1250', '1220-1480',
       '1080-1260', '910-1130', '1060-1320', '1090-1270', '1190-1440',
       '1120-1320', '1190-1410', '1190-1400', '1140-1400', '1080-1368',
       '1120-1310', '1160-1330', '1100-1345', '1170-1360', '1210-1358',
       '1080-1380', '1200-1430', '1142.5-1380', '1110-1370', '1050-1310',
       '1020-1190', '1100-1370', '1070-1280', '1180-1350', '1190-1380',
       '1190-1390', '1130-1360', '1045-1225', '1070-1260', '1248-1420',
       '1010-1210', '1180-1390', '1140-1310', '1120-1290', '1080-1358',
       '1170-1320', '1200-1400', '1150-1340', '1078-1300', '1020-1240',
       '1180-1360', '940-1150', '990-1210', '1080-1310', '1070-1290',
       '1090-1350', '1160-1338', '910-1090', '990-1200', '1060-1295',
       '1000-1210', '--', '1040-1265', '1150-1310', '990-1170',
       '1070-1300', '1070-1250', '1050-1269', '1110-1280', '980-1180',
       '1180-1340', '1153-1390', '1012-1345', '990-1180', '1110-1300',
       '1130-1300', '1030-1260', '990-1230', '1010-1230', '1150-1330',
       '1060-1250', '1108-1273', '970-1190', '1038-1250', '1170-1370',
       '1100-1250', '1050-1260', '960-1170', '1060-1220', '1130-1380',
       '1030-1220', '1100-1270', '1120-1300', '1060-1365', '1010-1240',
       '1090-1290', '1140-1340', '1120-1360', '1140-1350', '1160-1320',
       '1240-1460', '1030-1190', '1060-1260', '1143-1320', '1210-1410',
       '1040-1290', '1130-1310', '1150-1320', '960-1180', '1070-1240',
       '1010-1250', '1010-1180', '1050-1240', '1100-1310', '1020-1220',
       '940-1140', '1000-1160', '1080-1320', '1150-1370', '1180-1380',
       '1060-1290', '1120-1350', '1100-1290', '1220-1440', '1030-1230',
       '1090-1280', '1008-1240', '1040-1240', '1000-1398', '980-1190',
       '1100-1340', '1090-1300', '1060-1270', '1080-1300', '1000-1240',
       '990-1220'], dtype=object)

In [29]:
sat_by_college.shape

(390, 8)

In [30]:
sat_by_college['SAT Total 25th-75th Percentile'] = sat_by_college['SAT Total 25th-75th Percentile']\
.map(lambda score: np.nan if score == '--' else score)

sat_by_college['SAT Total 25th-75th Percentile'].value_counts(dropna = False)

1070-1270    6
NaN          5
1140-1320    5
1120-1320    5
1050-1260    4
            ..
1200-1360    1
1240-1440    1
1030-1200    1
1330-1450    1
990-1220     1
Name: SAT Total 25th-75th Percentile, Length: 271, dtype: int64

In [31]:
sat_by_college.dropna(inplace = True)

print(sat_by_college.shape)

sat_by_college['SAT Total 25th-75th Percentile'].unique()

(385, 8)

array(['1440-1570', '1460-1580', '1450-1560', '1460-1570', '1530-1560',
       '1500-1570', '1490-1570', '1390-1540', '1440-1560', '1330-1520',
       '1450-1570', '1380-1540', '1440-1550', '1460-1560', '1360-1510',
       '1470-1560', '1400-1560', '1410-1550', '1340-1520', '1270-1480',
       '1290-1510', '1360-1520', '1350-1530', '1350-1510', '1340-1490',
       '1300-1480', '1370-1530', '1300-1530', '1470-1570', '1360-1530',
       '1400-1550', '1283-1510', '1370-1510', '1320-1510', '1370-1520',
       '1310-1485', '1350-1520', '1360-1540', '1300-1510', '1348-1490',
       '1330-1500', '1300-1490', '1340-1530', '1180-1440', '1340-1500',
       '1270-1450', '1280-1420', '1370-1490', '1320-1470', '1290-1460',
       '1250-1420', '1290-1450', '1300-1500', '1260-1460', '1320-1490',
       '1220-1400', '1250-1470', '1250-1460', '1280-1500', '1250-1440',
       '1220-1380', '1240-1470', '1333-1490', '1280-1450', '1300-1460',
       '1210-1380', '1110-1320', '1270-1460', '1260-1430', '1255-1430',
       '1200-1390', '1220-1420', '1040-1310', '1280-1480', '1090-1260',
       '1310-1450', '1270-1490', '1030-1213', '1100-1320', '1180-1410',
       '890-1080', '1040-1250', '1325-1520', '1310-1440', '1240-1410',
       '1280-1470', '1150-1410', '1330-1480', '1160-1350', '1130-1330',
       '1080-1230', '1230-1410', '1230-1440', '1220-1430', '1250-1390',
       '1200-1380', '1150-1360', '1270-1420', '1250-1430', '1150-1350',
       '1210-1350', '1190-1430', '1040-1270', '1200-1350', '1210-1420',
       '1280-1440', '1140-1320', '1160-1370', '1210-1360', '1160-1360',
       '1310-1470', '1180-1370', '1020-1205', '1230-1400', '1110-1290',
       '1200-1360', '1240-1440', '1030-1200', '1330-1450', '1190-1370',
       '990-1160', '1090-1250', '1050-1200', '1150-1380', '1040-1260',
       '1030-1250', '1240-1450', '1240-1420', '1260-1440', '1130-1340',
       '1260-1480', '1203-1360', '1040-1230', '1230-1390', '990-1190',
       '1160-1390', '1210-1450', '1110-1310', '1080-1270', '950-1130',
       '1160-1340', '1070-1270', '1170-1350', '1050-1250', '1220-1480',
       '1080-1260', '910-1130', '1060-1320', '1090-1270', '1190-1440',
       '1120-1320', '1190-1410', '1190-1400', '1140-1400', '1080-1368',
       '1120-1310', '1160-1330', '1100-1345', '1170-1360', '1210-1358',
       '1080-1380', '1200-1430', '1142.5-1380', '1110-1370', '1050-1310',
       '1020-1190', '1100-1370', '1070-1280', '1180-1350', '1190-1380',
       '1190-1390', '1130-1360', '1045-1225', '1070-1260', '1248-1420',
       '1010-1210', '1180-1390', '1140-1310', '1120-1290', '1080-1358',
       '1170-1320', '1200-1400', '1150-1340', '1078-1300', '1020-1240',
       '1180-1360', '940-1150', '990-1210', '1080-1310', '1070-1290',
       '1090-1350', '1160-1338', '910-1090', '990-1200', '1060-1295',
       '1000-1210', '1040-1265', '1150-1310', '990-1170', '1070-1300',
       '1070-1250', '1050-1269', '1110-1280', '980-1180', '1180-1340',
       '1153-1390', '1012-1345', '990-1180', '1110-1300', '1130-1300',
       '1030-1260', '990-1230', '1010-1230', '1150-1330', '1060-1250',
       '1108-1273', '970-1190', '1038-1250', '1170-1370', '1100-1250',
       '1050-1260', '960-1170', '1060-1220', '1130-1380', '1030-1220',
       '1100-1270', '1120-1300', '1060-1365', '1010-1240', '1090-1290',
       '1140-1340', '1120-1360', '1140-1350', '1160-1320', '1240-1460',
       '1030-1190', '1060-1260', '1143-1320', '1210-1410', '1040-1290',
       '1130-1310', '1150-1320', '960-1180', '1070-1240', '1010-1250',
       '1010-1180', '1050-1240', '1100-1310', '1020-1220', '940-1140',
       '1000-1160', '1080-1320', '1150-1370', '1180-1380', '1060-1290',
       '1120-1350', '1100-1290', '1220-1440', '1030-1230', '1090-1280',
       '1008-1240', '1040-1240', '1000-1398', '980-1190', '1100-1340',
       '1090-1300', '1060-1270', '1080-1300', '1000-1240', '990-1220'],
      dtype=object)

As you can see, five null values were dropped and now the "SAT Total 25th-75th Percentile" data are ready to be split into separate columns and converted to numbers.

In [32]:
sat_by_college['sat_twenty_fifth_percentile'] = sat_by_college['SAT Total 25th-75th Percentile']\
.map(lambda score: float(score.split('-')[0]))

sat_by_college.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile,sat_twenty_fifth_percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,1440.0
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,1460.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,1440.0
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,1450.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,1460.0

In [33]:
sat_by_college['sat_seventy_fifth_percentile'] = sat_by_college['SAT Total 25th-75th Percentile']\
.map(lambda score: float(score.split('-')[1]))

sat_by_college.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile,sat_twenty_fifth_percentile,sat_seventy_fifth_percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,1440.0,1570.0
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,1460.0,1580.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,1440.0,1570.0
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,1450.0,1560.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,1460.0,1570.0

In [34]:
sat_by_college.dtypes

School                             object
Test Optional?                     object
Applies to Class Year(s)           object
Policy Details                     object
Number of Applicants                int64
Accept Rate                       float64
SAT Total 25th-75th Percentile     object
ACT Total 25th-75th Percentile     object
sat_twenty_fifth_percentile       float64
sat_seventy_fifth_percentile      float64
dtype: object

In [35]:
sat_by_college_cols_dict = {
    'School': 'school',
    'Test Optional?': 'test_optional',
    'Applies to Class Year(s)': 'applies_to_class_years',
    'Policy Details': 'policy_details',
    'Number of Applicants': 'number_of_applicants',
    'Accept Rate': 'accept_rate',
    'SAT Total 25th-75th Percentile': 'sat_total_middle_fifty_percent',
    'ACT Total 25th-75th Percentile': 'act_total_middle_fifty_percent',
    'sat_twenty_fifth_percentile': 'sat_twenty_fifth_percentile',
    'sat_seventy_fifth_percentile': 'sat_seventy_fifth_percentile'
}

sat_by_college.rename(columns = sat_by_college_cols_dict, inplace = True)

sat_by_college.head()

,school,test_optional,applies_to_class_years,policy_details,number_of_applicants,accept_rate,sat_total_middle_fifty_percent,act_total_middle_fifty_percent,sat_twenty_fifth_percentile,sat_seventy_fifth_percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,1440.0,1570.0
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,1460.0,1580.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,1440.0,1570.0
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,1450.0,1560.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,1460.0,1570.0

At this point, all three datasets have been cleaned and are prepared for further exploratory data analysis and visualization. I will save these updated files as new csv files in the data data directory.

In [36]:
sat_2019.to_csv('../data/updated_sat_2019.csv')

sat_by_major.to_csv('../data/sat_by_major.csv')

sat_by_college.to_csv('../data/sat_by_college.csv')

---

## Data Dictionary

Now that the data have been fully cleaned and prepared for analysis and the data have been saved into new csv files, I am providing a data dictionary below with a description of the data columns and variables stored in each dataset. Please refer back to this data dictionary as needed to check on either the data types or the description of any of the data used for analysis and visualization

### Updated SAT 2019 Dataset

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|object|Updated SAT 2019|The U.S state from which the testing was collected.|
|participation_rate|float|Updated SAT 2019|The percentage of students in the state taking the exam in 2019.|
|reading_writing_score|integer|Updated SAT 2019|The average Evidence-Based Reading and Writing section score on a scale of 200-800 in 2019.|
|math_score|integer|Updated SAT 2019|The average Math section score on a scale of 200-800 in 2019.|
|total_score|integer|Updated SAT 2019|The average total score of both combined exam sections on a scale of 400-1600 in 2019.|

### Updated SAT by Major Dataset

|Feature|Type|Dataset|Description|
|---|---|---|---|
|intended_college_major|object|SAT by Major|The intended college major which testers indicate.|
|number_of_testers|integer|SAT by Major|Total number of testers for each given intended college major.|
|percent_by_intended_major|float|SAT by Major|The percentage of testers indicating a given intended college major out of the total number of testers.|
|total_score|integer|SAT by Major|The average total score for a given intended college major.|
|reading_writing_score|integer|SAT by Major|The average Evidence-Based Reading and Writing score for a given intended college major.|
|math_score|integer|SAT by Major|The average Math score for a given intended college major.|


### Updated SAT by College Dataset

|Feature|Type|Dataset|Description|
|---|---|---|---|
|school|object|SAT by College|The school for which ACT/SAT test scores and admissions data were collected.|
|test_optional|object|SAT by College|Yes or no if the college has a test-optional policy in place.|
|applies_to_class_years|object|SAT by College|Class years to which the test optional policy currently applies, if applicable.|
|policy_details|object|SAT by College|Specific test-optional policy details of the school|
|number_applicants|integer|SAT by College|Number of applicants for each school for Fall 2021|
|accept_rate|float|SAT by College|Acceptance rate for each school as a percentage.|
|sat_total_middle_fifty_percent|object|SAT by College|Range of SAT scores in the 25th to 75th percentile for all Fall 2021 accepted students at the school.|
|act_total_middle_fifty_percent|object|SAT by College|Range of ACT scores in the 25th to 75th percentile for all Fall 2021 accepted students at the school.|
|sat_twenty_fifth_percentile|float|SAT by College|The 25th percentile only of SAT scores for all Fall 2021 accepted students at the school.|
|sat_seventy_fifth_percentile|float|SAT by College|The 75th percentile only of SAT scores for all Fall 2021 accepted students at the school.|

---

## Notebook Conclusion

In this notebook, I imported and cleaned the data from three different datasets to prepare it for analysis and visualization. Also, I saved the three notebooks as new csv files in the data directory, keeping the original datasets available for the reader to review. Finally, I created a data dictionary for all three of the updated and saved datasets for the reader to use as a reference in interpreting my analysis and visuals in Part 3's notebook.

In Part 3, I will analyze the three datasets and generate data visuals to identify trends in our SAT testing data. Any revealed trends will lead us to further board policy recommendations of which students might be prone for an SAT marketing strategy for growth in College Board market share in the standardized testing market.